* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  flex: 0;border: 2px solid red;
}

.hamb {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px; border: 2px solid blue;
  margin-bottom: 70px;
  

}

.hamb .bar {
  min-height: 5px;
  width: 100%;
  background: #272A31;
  border-radius: 10px;
}

.title-section {
  width: 100%;
  height: 50%;
  background: url('images/home-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: 98%;
  padding: 12px 30px;border: 2px solid blue;
}

.first_head, .second_head{
  color:#ec5242;
}

.first_head {
  margin-bottom: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  
  flex: 1;
}

.second_head {
  margin-top: 0;
  width: 100%;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 0;
}

.info {
  color: #d3d3d3;
  border: 2px solid white;
  width: 100%;
}

.date {
  color: #272a31;
  font-size: 30px;
}

.venue {
  color: #d3d3d3;
  width: 100%;
  font-size: 15px;
}

.program {
  background: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  
}

.prog_heading {
    color: #d3d3d3;
    border-bottom: 2px;
    border-bottom-style: solid;
}

.program_content {
  display: flex;
  width: 100%;
  background: #d3d3d3;
  margin-bottom: 8px;
}

.prog-img {
    width: 15%;
}

.prog_title {
    color:#ec5242;
    width: 20%;
}

.prog_description {
  color: white;
  width: 80%;
}

.join_call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ec5242;
  color: #d3d3d3;
  width: 70%;
  height: 80px;
}

.speakers {
   display: flex; 
   flex-direction: column;
   align-items: center;
}

.speaker_header {
    color: #d3d3d3;
    border-bottom: 2px solid #ec5242;
}

.speaker_image_content {
    width: 100%;border: 2px solid red;
    display: flex;
}

.speaker_img {
    width: 40%; border: 2px solid blue;
}

.speaker_info {
    width: 60%;border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.speaker_profession {
  color: #ec5242;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #272a31;
}

.partner_head {
color: #d3d3d3;
}

.partner_img {
    width: 20%;
    height: 10%;
}

.footer {
    background:  #d3d3d3;
    width: 100%;
    display: flex;
    padding: 16px;
}

.right_info {
  width: 40%;
  margin-left: 2px;
}

.left_info {
    width: 40%;
}
/*
.fa-twitter {
    color: red;
}
/*
.partner_img {
    width: 100px;
    height: 50px;
    border: 2px solid red;
}
*/


@media




